body {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.navbar span {
    float: right;
    margin-right: 32%;
}

.form-container {
    max-width: 400px;
    max-height: 700px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 7%;
    
}

h2 {
    text-align: center;
    color: #333;
}
.btn {
    width: 40%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30%;
}
input[type="text"],
input[type="password"] {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 15%;
    padding: 6px;
    background-color: #828181;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center ;
}

button:hover {
    background-color: #a9a9a9;
    color: rgb(0, 33, 245);
}
